{% extends "base.html" %}

{%- block title -%}{{ term.name }} | {{ config.title }}{%- endblock -%}

{%- block main -%}
<div class="content_section">
    <div class="section_header section_header_red">Posts tagged: {{ term.name }}</div>
    <div class="content_section_text">
        {%- for page in paginator.pages | default(value=term.pages) %}
        <div class="post-list-item">
            <div class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></div>
            <ul class="post-meta">
                <li><time datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d") }}</time></li>
                {%- if page.reading_time %}<li class="sep">::</li><li>{{ page.reading_time }} min read</li>{%- endif %}
            </ul>
            {%- if page.description %}
            <p class="post-desc">{{ page.description | markdown(inline=true) | safe }}</p>
            {%- endif %}
        </div>
        {%- endfor %}
    </div>

    {%- if paginator and paginator.number_pagers > 1 %}
    <nav class="pagination">
        <ul>
            {%- if paginator.previous %}<li><a href="{{ paginator.previous | safe }}">&lt; newer</a></li>{%- endif %}
            {%- if paginator.next %}<li><a href="{{ paginator.next | safe }}">older &gt;</a></li>{%- endif %}
        </ul>
    </nav>
    {%- endif %}
</div>
{%- endblock -%}
